body {
  background-color: white;
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
}

.topheader {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  color: teal;
  font-weight: bold;
  font-family: monospace;
  margin: 2% 0% 2% 0%;
  padding-bottom: 1%;
  box-shadow: 0px 6px 10px -2px gray;
  background-color: white;
}
